[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "cj5"]
	path = cj5
	url = https://github.com/septag/cj5.git
[submodule "fpng"]
	path = fpng
	url = https://github.com/richgel999/fpng.git
[submodule "qoi"]
	path = qoi
	url = https://github.com/phoboslab/qoi.git
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/code-disaster/cpp-httplib.git
[submodule "dmon"]
	path = dmon
	url = https://github.com/septag/dmon.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "netcode"]
	path = netcode
	url = https://github.com/mas-bandwidth/netcode.git
[submodule "obfuscate"]
	path = obfuscate
	url = https://github.com/adamyaxley/Obfuscate.git
[submodule "serialize"]
	path = serialize
	url = https://github.com/mas-bandwidth/serialize.git
[submodule "volk"]
	path = volk
	url = https://github.com/zeux/volk.git
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
[submodule "tlsf"]
	path = tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "cglm"]
	path = cglm
	url = https://github.com/recp/cglm.git
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "soloud"]
	path = soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "dumb"]
	path = dumb
	url = https://github.com/code-disaster/dumb.git
[submodule "IconFontCppHeaders"]
	path = IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "reliable"]
	path = reliable
	url = https://github.com/mas-bandwidth/reliable.git
[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "clay"]
	path = clay
	url = https://github.com/nicbarker/clay.git
[submodule "minicoro"]
	path = minicoro
	url = https://github.com/edubart/minicoro.git
