[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
